[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyproj = "*"
numpy = "*"
scikit-image = "*"
tqdm = "*"
matplotlib = ">=3.0.3"

[dev-packages]

[requires]
python_version = "3.10"
